.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 20px 0px 0px 0px;
}

.input {
  background-color: white;
  color: black;
  height: 30px;
  width: 80%;
  max-width: 800px;
  border-style: solid;
  border-color: #CDD6DD;
  padding: 0px 0px 0px 20px;
  margin-bottom: 15px;
}

.input::placeholder {
  color: #8B8B8B;
  text-align: left;
}

#message {
  padding-bottom: 100px;
}

#submit {
  width: 80%;
  margin-bottom: 50px;
}

/*tablet*/
@media(min-width: 600px) {
  .contact-form {
    margin: 30px 0px 15px 0px;
  }

  .input {
    width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 100;
    padding: 3px 0px 3px 20px;
  }

  #message {
    padding-bottom: 150px;
  }

  #submit {
    width: 85%;
    margin-bottom: 60px;
  }
}

/*desktop*/
@media(min-width: 1280px) {}